* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

.row{
    width: 75%;
    margin: 0 auto;
    overflow: auto
}

.section-header{
    
    background-image: linear-gradient(rgba(24,36,63,0.9), rgba(24,36,63,0.9)), url('./image/mountain.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /*background-color: #18243f;*/
    height: 70vh;
    width: 100%;
    box-shadow: 0px 5px 20px 0px;
    border-top: 7px solid #e9435e;
    padding-top: 6px;
}

.grid-container{
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}

.grid-item{
  padding: 30px;
  font-size: 30px;
  text-align: center;
}

.about-us{
    margin: 50px 10% 0 10%
}

.about-us-image{
    width: 100%
}


nav img {
    width: 160px;
    height: auto;
    margin-top: 5px;
}


nav a{
    float: right;
    margin: 15px;
    font-size: 23px;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    transition: transform 0.5s;
}

nav a:hover{
    font-weight: 400;
    transform: scale(1.1);
    border-bottom: 2px solid #e9435e;
}

.header-text{
    margin-top: 55px;
    text-align: center;
}

.header-text h1{
    font-size: 45px;
    font-weight: 200;
    color: #ffffff;
    text-shadow: 1px 2px #000000;
}

.header-text hr {
    width: 75px;
    margin: 0 auto;
    margin-top: 30px;
    color: #e9435e;
}

.header-text .firstTextH1{
    font-size: 60px;
    margin-bottom: 8px;
}

.btnStart{
    margin-top: 30px;
    margin-bottom: 10px;
    padding:12px;
    width: 200px;
    background-color:#e9435e;
    border:0;
    border-radius: 25px;
    font-size: 21px;
    outline: none;
    color:#ffffff;
    box-shadow: 0px 1px 2px 0px #202020;
    transition: background-color 0.25s, color 0.25s;
}

.btnStart:hover{
    background-color:#8a2233;
    color:#959595;
}

footer{
    background-color: #18243f;
    box-shadow: 0px -1px 5px 0px black;
}

footer .rowFooter{
    width: 50%;
    margin: 0 auto;
    text-align: center;
    padding-top: 25px;
    color: #f5f5f5;
    font-weight: 500;
    height: 150px;
}

footer img{
    width: 35px;
    height: auto;
    margin: 10px;
    margin-bottom:20px;   
}

footer img:hover{
    transform: scale(1.1);
}

.footerText{
    color: #f5f5f5;
    margin-left: 20px;
    margin-right: 20px;
}

footer .rowFooter2{
    text-align: center;
    background-color: #e9435e;
}


@media only screen and (max-width: 510px) {
    .row{
        width: 90%;
    }

    nav a{
        font-size: 20px;
        margin: 7px;
        margin-top: 15px;
    }


    .header-text h1{
        font-size: 40px;
    }

    .header-text .firstTextH1{
        font-size: 50px;
        margin-bottom: 20px;
    }
  }


  @media only screen and (max-width: 390px) {

    nav a{
        font-size: 17px;
        margin: 7px;
        margin-top: 15px;
    }

    nav img {
        width: 120px;
        margin-top: 4px;
    }

    .header-text{
        margin-top: 100px;
    }

    .header-text h1{
        font-size: 30px;
    }

    .header-text .firstTextH1{
        font-size: 40px;
        margin-bottom: 20px;
    }

    .btnStart{
        margin-top: 50px;
        margin-bottom: 10px;
        padding:10px;
        width: 150px;
        
    }
  }